.slick-list {
    z-index: -1;
    padding: 10px;
}
.css-1g45tic {
    background-color: #3483fa !important;
    border-radius: 10px;
}
.css-1ouov1k[aria-selected="true"],
.css-1ouov1k[data-selected] {
    color: #3483fa !important;
}
.css-1ouov1k:hover {
    color: #3483fa !important;
}
.css-1ouov1k:active {
    background-color: rgba(65, 137, 230, 0.15) !important;
}
